<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<select id="allUserCount" resultType="_int"><!-- 모든 유저 수 조회 -->
	select count(*)
	from member
	</select>
	<select id="tuteeUserCount" resultType="_int"><!-- 튜티 회원수조회 -->
	select count(*)
	from member
	where m_grade = '튜티'
	</select>
	<select id="tutorUserCount" resultType="_int"><!-- 튜터회원수 조회  -->
	select count(*)
	from member
	where m_grade ='튜터'
	</select>
	<select id="blackUserCount" resultType="_int"><!-- 블랙회원 수 조회 -->
	select count(*)
	from member
	where m_grade = '튜티/블랙' or m_grade = '튜터/블랙'
	</select>
	
	<select id="allUserList" resultType="Member">
	select *
	from member
	order by m_create_date desc
	</select>
	
	<update id="targetUserUpdate" parameterType="Member"><!-- 특정 회원 수정 -->
		update member
      set 
      M_NAME=#{m_name},
      M_NICKNAME=#{m_nickname},
      M_EMAIL=#{m_email},
      M_PHONE=#{m_phone},
      M_MODIFY_DATE = sysdate,
      M_GRADE=#{m_grade},
      M_STATUS=#{m_status},
      POSTNUM=#{postnum},
      G_ADDRESS=#{g_address},
      R_ADDRESS=#{r_address},
      D_ADDRESS=#{d_address}
                
      where M_ID = #{m_id}
	</update>


</mapper>
