<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<select id="allUserCount" resultType="_int"><!-- 모든 유저 수 조회 -->
		select count(*)
		from member
	</select>
	<select id="tuteeUserCount" resultType="_int"><!-- 튜티 회원수조회 -->
		select count(*)
		from member
		where m_grade = '튜티' or m_grade= 'U'
	</select>
	<select id="tutorUserCount" resultType="_int"><!-- 튜터회원수 조회 -->
		select count(*)
		from member
		where m_grade ='튜터'
	</select>
	<select id="blackUserCount" resultType="_int"><!-- 블랙회원 수 조회 -->
		select count(*)
		from member
		where m_grade = '튜티/블랙' or m_grade = '튜터/블랙'
	</select>
	<select id="leaveUserCount" resultType="_int"><!-- 탈퇴회원 수 조회 -->
		select count(*)
		from member
		where m_status = 'N'
	</select>
	<select id="adminUserCount" resultType="_int"><!-- 어드민회원 수 조회 -->
		select count(*)
		from member
		where m_grade = 'M'
	</select>
		<select id="modifyUserCount" resultType="_int"><!-- 어드민회원 금일 수정 수 조회 -->
		select count(*)
		from member
		where M_MODIFY_DATE = sysdate
		order by M_MODIFY_DATE desc
	</select>
	<select id="createUserCount" resultType="_int"><!-- 어드민  금일 가입자 수 조회 -->
		select count(*)
		from member
		where M_CREATE_DATE = sysdate
		order by M_CREATE_DATE desc
	</select>
	<!-- 유저 정렬 -->
	<select id="allUserList" resultType="Member"><!--기본 정렬 (가입일) -->
		select *
		from member
		order by m_create_date desc
	</select>
	<select id="allUserListtee" resultType="Member"><!--튜티 정렬 (가입일) -->
		select *
		from member
		where m_grade ='튜티' or m_grade='튜티/블랙'
		order by m_create_date desc
	</select>
	<select id="allUserListtor" resultType="Member"><!--튜터 정렬 (가입일) -->
		select *
		from member
		where m_grade ='튜터' or m_grade='튜터/블랙'
		order by m_create_date desc
	</select>
	<select id="allUserListbl" resultType="Member"><!--블랙 정렬 (가입일) -->
		select *
		from member
		where m_grade ='튜티/블랙' or m_grade='튜티/블랙'
		order by m_create_date desc
	</select>
	<select id="allUserListM" resultType="Member"><!--어드민 정렬 (가입일) -->
		select *
		from member
		where m_grade ='튜티/블랙' or m_grade='튜티/블랙'
		order by m_create_date desc
	</select>
	<select id="allUserListY" resultType="Member"><!--Y 정렬 (가입일) -->
		select *
		from member
		where m_status='Y'
		order by m_create_date desc
	</select>
	<select id="allUserListN" resultType="Member"><!--N 정렬 (가입일) -->
		select *
		from member
		where m_status='N'
		order by m_create_date desc
	</select>
	
	
	<select id="searchId" parameterType="string" resultType="Member"><!-- 검색 -->
		select *
		from member
		where m_Id like '%'|| #{search} ||'%'
		order by m_create_date desc
	</select>
	<select id="searchNick" parameterType="String" resultType="Member"><!-- 검색 -->
		select *
		from member
		where m_nickname like '%' || #{search} || '%'
		order by m_create_date desc
	</select>




	<update id="targetUserUpdate" parameterType="Member"><!-- 특정 회원 수정 -->
		update member
		set
		M_NAME=#{m_name},
		M_NICKNAME=#{m_nickname},
		M_EMAIL=#{m_email},
		M_PHONE=#{m_phone},
		M_MODIFY_DATE = sysdate,
		M_GRADE=#{m_grade},
		M_STATUS=#{m_status},
		POSTNUM=#{postnum},
		G_ADDRESS=#{g_address},
		R_ADDRESS=#{r_address},
		D_ADDRESS=#{d_address}
		where M_ID = #{m_id}
	</update>
	

<!--board  -->
	<select id="boardList" resultType="board"><!--보드 리스 트 -->
		select *
		from board
		order by B_REG_DATE desc
	</select>
	<select id="boardListCount" resultType="_int"><!-- 보드 -->
		select Count(*)
		from board
		order by B_REG_DATE desc
	</select>
	
	<select id="boardListCountNot" resultType="_int"><!-- 공지 보드개수 -->
		select Count(*)
		from board
		where B_CATEGORY ='공지' and b_status= 'Y'
		order by B_REG_DATE desc
	</select>
	<select id="boardListCountQe" resultType="_int"><!--  질문보드개수 -->
		select Count(*)
		from board
		where B_CATEGORY ='질문' and b_status= 'Y'
		order by B_REG_DATE desc
	</select>
	<select id="boardListCountSug" resultType="_int"><!--  건의보드개수 -->
		select Count(*)
		from board
		where B_CATEGORY ='건의' and b_status= 'Y'
		order by B_REG_DATE desc
	</select>
	<select id="boardListCountDecl" resultType="_int"><!--  신고보드개수 -->
		select Count(*)
		from board
		where B_CATEGORY ='신고' and b_status= 'Y'
		order by B_REG_DATE desc
	</select>
	<select id="boardListCountA" resultType="_int"><!--  튜터신청보드개수 -->
		select Count(*)
		from board
		where B_CATEGORY ='튜터신청' and b_status= 'Y'
		order by B_REG_DATE desc
	</select>
	<select id="boardListA" resultType="Board"><!--  튜터신청보드리스트ㄴ -->
		select *
		from board
		where B_CATEGORY ='튜터신청'
		order by B_REG_DATE desc
	</select>
	<update id="updateCount" parameterType="_int">
	update board
	set b_count = b_count+1
	where b_num=#{bId}
	</update>
	<update id="targetTrBDelete" parameterType="Board"><!-- 특정 게시판 삭제 -->
		update Board
		set
		b_status = 'N'
		where b_num = #{b_num}
	</update>
	
	<resultMap type="Board" id="BoardResultSet">
		<id column="B_NUM" property="b_num"/>
		<result column="B_TITLE" property="b_title"/>
		<result column="B_CONTENT" property="b_content"/>
		<result column="B_REG_DATE" property="b_reg_date"/>
		<result column="B_CATEGORY" property="b_category"/>
		<result column="B_STATUS" property="b_status"/>
		<result column="B_COUNT" property="b_count"/>
		<result column="M_ID" property="m_id"/>
		<result column="B_SUBCATEGORY" property="b_subcategory"/>
	</resultMap>
	
	<select id="selectBoard" parameterType="_int" resultMap="BoardResultSet">
	select * 
	from board
	where b_num =#{bId}
	</select>

	<insert id="insertBoard" parameterType="Board">
	insert into board values(board_seq.nextval,#{b_title},#{b_content},sysdate,
								#{b_category},#{b_subcategory},default,default,#{m_id})
	</insert>

	<select id="applyListCount" resultType="_int">
	 select count(*)
	 from lecture
	 where l_status ='Y' and l_confirm='N'
	</select>

	<select id="applylectureList" resultType="Lecture">
		select *
		from lecture
		where l_status ='Y' and l_confirm='N'
	</select>





</mapper>
