<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="getListCount" parameterType="string" resultType="_int">
		select count(*)
		from board
		where B_CATEGORY = #{b_category}
			and B_STATUS = 'Y'
	</select>
	
	<select id="selectBoardList" parameterType="Board" resultType="Board">
		select rownum, l.*
    		from (select *
            		from board
            		where b_status = 'Y'
						and b_category = '공지사항'
            		order by B_REG_DATE desc) l
	</select>
	
	<update id="updateCount" parameterType="_int">
		update board
		set b_count = b_count + 1
		where b_num = #{b_num}
	</update>
	
	<select id="selectBoard" parameterType="_int" resultType="Board">
		select *
		from board
		where b_num = #{b_num}
			and b_status = 'Y'
	</select>
	
	<select id="selectBoardImg" parameterType="_int" resultType="string">
		select b_changed_name
		from board_image
		where b_num = #{b_num}
	</select>

	<insert id="insertBoard" parameterType="Board">
		insert into board
		values(board_seq.nextval, #{b_title}, #{b_content}, sysdate, #{b_category}, #{b_subcategory}, 'Y', 0, #{m_id})
		<selectKey keyProperty="b_num" resultType="_int" order="AFTER">
			select board_seq.currval from dual
		</selectKey>
	</insert>
	
	<insert id="insertBoardImg" parameterType="Board_Image">
		<selectKey keyProperty="b_num" resultType="_int" order="BEFORE">
			select board_seq.currval from dual
		</selectKey>
		insert into board_image(b_changed_name, b_origin_name, b_upload_date, b_num)
		values(#{b_changed_name}, #{b_origin_name}, sysdate, #{b_num})
	</insert>
	
	<update id="deleteBoard" parameterType="_int">
		update board
		set b_status = 'N'
		where b_num = #{b_num}
	</update>
	
	<update id="updateBoard" parameterType="Board">
		update board
		set b_title = #{b_title}, b_content = #{b_content}, b_subcategory = #{b_subcategory}
		where b_num = #{b_num}
	</update>
	
	<!-- 고객센터용 쿼리 -->
	<select id="getCenterListCount" parameterType="map" resultType="_int">
		select count(*)
		from board
		where b_status = 'Y'
			and b_category = #{b_category}
		<if test="b_category != '공지사항' and m_id != null ">
			and m_id = #{m_id}
		</if>
	</select>
	
	<select id="selectCenterBoardList" parameterType="map" resultType="Board">
		select *
		from board
		where b_status = 'Y'
			and b_category = #{b_category}
		<if test="b_category != '공지사항' and m_id != null">
			and m_id = #{m_id}
		</if>
		order by B_REG_DATE desc
	</select>
</mapper>
