<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<select id="checkId" parameterType="string" resultType="_int">
		select count(*)
		from member where
		m_id = #{id}
	</select>
	<select id="checkNick" parameterType="string" resultType="_int">
		select count(*)
		from member where
		m_nickname = #{m_nickname}
	</select>
	<insert id="insertMemberImg" parameterType="Member_Image">
		insert into member_image values( #{m_id}, #{m_changed_name}, sysdate, #{m_origin_name})
	</insert>
	<insert id="insertMember" parameterType="Member">
		insert into member values(#{m_id}, #{m_pw}, #{m_name}, #{m_nickname},
								  #{m_email}, #{m_phone},sysdate, sysdate, 
								  default, default, #{postnum}, #{g_address}, #{r_address}, #{d_address})
	</insert>
	<select id="login" parameterType="Member" resultType="Member">
		select *
		from member
		where m_id = #{m_id} and m_status='Y'
	</select>
	<select id="checkPhone" parameterType="Member" resultType="_int">
		select count(*)
		from member where
		m_name = #{m_name} and m_phone = #{m_phone} and m_status='Y'
	</select>
	<select id="checkPhone2" parameterType="Member" resultType="_int">
		select count(*)
		from member where
		m_name = #{m_name} and m_phone = #{m_phone} and m_id = #{m_id} and m_status='Y'
	</select>
	<select id="checkEmail" parameterType="Member" resultType="_int">
		select count(*)
		from member where
		m_name = #{m_name} and m_email = #{m_email} and m_status='Y'
	</select>
	<select id="checkEmail2" parameterType="Member" resultType="_int">
		select count(*)
		from member where
		m_name = #{m_name} and m_email = #{m_email} and m_id = #{m_id} and m_status='Y'
	</select>
	<select id="checkEmailo" parameterType="string" resultType="_int">
		select count(*)
		from member where
		m_email = #{m_email} and m_status='Y'
	</select>
	<select id="selectPw" parameterType="string" resultType="string">
		select m_pw
		from member
		where m_id = #{id} and m_status='Y'
	</select>
	<select id="findMember" parameterType="Member" resultType="Member">
		select * 
		from member
		where m_name = #{m_name} and m_status='Y'
		<if test="m_phone != null">
			and m_phone = #{m_phone}
		</if>
		<if test="m_email != null">
			and m_email = #{m_email}
		</if>
	</select>
	<update id="pwChange" parameterType="Member">
		update member
		set m_pw = #{m_pw}
		where m_id = #{m_id} and m_status = 'Y'
	</update>
	<select id="findImage" parameterType="string" resultType="Member_Image">
		select *
		from member_image
		where m_id = #{m_id}
	</select>



	<select id="getAllUserCount" resultType="_int">
	select count(*)
	from member
	</select>
<!-- 	<select id="selectAllMember">
	select * 
	from member
	order by M_CREATE_DATE desc
	</select>
	 -->
	



<!-- 	<update id="updateMember" parameterType="Member">
		update member 
		set M_PW = #{m_pw}, M_EMAIL = #{m_email}, M_PHONE = #{m_phone}, M_MODIFY_DATE = SYSDATE, POSTNUM = #{postnum}, G_ADDRESS = #{g_address}, R_ADDRESS = #{r_address}, D_ADDRESS = #{d_address}
		where M_ID = #{m_id}
	</update>
	
	
	<update id="updateMember_Image" parameterType="Member_Image">  회원정보 수정 이미지 첨부
		update Member_Image
		set M_ORIGIN_NAME = #{m_origin_name}, M_CHANGED_NAME = #{m_changed_name}, M_UPLOAD_DATE = SYSDATE
		where M_ID = #{m_id}
	</update> -->
	
<!-- 석민 -->
	<select id="selectNoPayLectureCount" parameterType="string" resultType="_int"> <!--  강의 찜목록 카운트 -->
	select count(*)
	from LEC_NOPAYVIEW
	where M_ID = #{m_id}
	</select>
	 <!-- 석민 -->

</mapper>

