<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paymentMapper">

	<insert id="insertPayment" parameterType="Payment">
		insert into payment values(payment_seq.nextval, #{pay_target}, sysdate, #{pay_method}, default, #{m_id})
	</insert>
	<insert id="insertLecturePayment" parameterType="_int">
		insert into lecture_pay values(payment_seq.currval, #{l_num})
	</insert>
	<insert id="insertProductPayment" parameterType="map">
		INSERT ALL
			INTO PAYMENT VALUES(PAYMENT_SEQ.NEXTVAL, #{pay.pay_target}, SYSDATE, #{pay.pay_method}, DEFAULT, #{pay.m_id})
			<if test="ppList!=null">
				<foreach collection="ppList" item="item" index="index" separator=" ">
					INTO PRODUCT_PAY VALUES(PAYMENT_SEQ.CURRVAL, #{item.p_option}, #{item.p_num}, #{item.p_pay_amount}, #{item.pay_price}, #{item.delivery})
				</foreach>
			</if>
		SELECT * FROM DUAL
	</insert>
	<update id="updateProductOption" parameterType="map">
		UPDATE PRODUCT_OPTION
		SET P_STOCK = (
			SELECT P_STOCK - #{pp.p_pay_amount}
			FROM PRODUCT_OPTION
			WHERE P_OPTION = #{pp.p_option} and p_num = #{pp.p_num}
			)
		WHERE P_OPTION = #{pp.p_option} and p_num = #{pp.p_num}
	</update>
</mapper>
