<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paymentMapper">

	<insert id="insertProductPayment" parameterType="map">
	INSERT ALL
		INTO PAYMENT VALUES(PAYMENT_SEQ.NEXTVAL, #{pay.pay_target}, SYSDATE, #{pay.pay_method}, DEFAULT, #{pay.m_id})
		INTO PRODUCT_PAY VALUES (PAYMENT_SEQ.CURRVAL, #{pp.p_option}, #{pp.p_num}, #{pp.p_pay_amount}, #{pp.pay_total}, #{pp.delivery})
	SELECT * FROM DUAL
	</insert>
</mapper>
