<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">

<!-- 전체 목록 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE P_STATUS = 'Y'
	</select>

<!-- 전체 목록 조회 -->
	<select id="selectProductList" resultType="hashmap">
		SELECT *
		FROM PRODUCT
			LEFT JOIN product_image USING(P_NUM)
			LEFT JOIN member USING(M_ID)
			LEFT JOIN member_image USING(M_ID)
		WHERE P_STATUS = 'Y' AND P_FILE_LEVEL = 0
		ORDER BY P_NUM DESC
	</select>

<!-- 카테고리별 목록 수 조회 -->
	<select id="getListCountCate" resultType="_int" parameterType="string">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE P_STATUS = 'Y' AND P_CATEGORY = #{p_category}
	</select>

<!-- 카테고리별 목록 조회 -->
	<select id="selectProductListCate" resultType="hashmap" parameterType="string">
		SELECT *
		FROM PRODUCT
			LEFT JOIN product_image USING(P_NUM)
			LEFT JOIN member USING(M_ID)
			LEFT JOIN member_image USING(M_ID)
		WHERE P_STATUS = 'Y' AND P_FILE_LEVEL = 0
			AND P_CATEGORY = #{p_category}
		ORDER BY P_NUM DESC
	</select>
<!-- 상품 디테일 조회 -->
	<select id="selectProduct" parameterType="_int" resultType="map">
		SELECT *
		FROM PRODUCT_DETAIL
		WHERE P_NUM = #{p_num}
	</select>
	<select id="selectProductOption" resultType="Product_Option" parameterType="list">
		SELECT *
		FROM PRODUCT_OPTION
		WHERE P_NUM = #{p_num}
	</select>
<!-- 상품 디테일 조회 -->
<!-- 상품 등록 -->
	<insert id="insertProduct" parameterType="map">
		INSERT ALL
			INTO PRODUCT VALUES (
				PRODUCT_SEQ.NEXTVAL, #{p.p_name}, #{p.p_category}, #{p.p_price}, '${p.p_optionCheck}', 'Y', SYSDATE, NULL, #{p.m_id}
			)
			INTO PRODUCT_IMAGE VALUES(
				#{pi.p_changed_name}, #{pi.p_origin_name}, SYSDATE, #{pi.p_file_level}, PRODUCT_SEQ.CURRVAL
			)
			<if test='poList!=null'>
				<foreach collection="poList" item="item" index="index" separator=" ">
					INTO PRODUCT_OPTION VALUES(
						#{item.p_option}, PRODUCT_SEQ.CURRVAL, #{item.p_optionPrice}, #{item.p_stock}
					)
				</foreach>
			</if>
			<if test='piList!=null'>
				<foreach collection="piList" item="item" index="index" separator=" ">
					into PRODUCT_IMAGE VALUES(
						#{item.p_changed_name}, #{item.p_origin_name}, SYSDATE, #{item.p_file_level}, PRODUCT_SEQ.CURRVAL
					)
				</foreach>
			</if>
		SELECT * FROM DUAL
	</insert>
<!-- 상품 등록 -->
	<!-- <insert id="insertProductDetail" parameterType="Product_Image">
		<foreach collection="list" item="item" index="index" open="INSERT ALL " separator=" " close="SELECT * FROM DUAL">
			into PRODUCT_IMAGE(
				p_changed_name,
				p_origin_name,
				p_upload_date,
				p_file_level,
				p_num
			) values (
				#{item.p_changed_name},
				#{item.p_origin_name},
				SYSDATE,
				#{item.p_file_level},
				PRODUCT_SEQ.CURRVAL
			)
		</foreach>
	</insert> -->
	
<!-- 상품정보 수정 -->
	<update id="updateProduct" parameterType="Product">
		UPDATE PRODUCT SET 
			P_NAME = #{p_name},
			P_CATEGORY = #{p_category},
			P_PRICE = #{p_price},
			P_OPTIONCHECK = #{p_optionCheck},
			P_MODIFY_DATE = SYSDATE
		WHERE P_NUM = ${p_num}
	</update>

<!-- 상품 옵션 수정 -->

	<delete id="deleteProductOption" parameterType="_int">
		DELETE FROM PRODUCT_OPTION WHERE P_NUM = #{p_num}
	</delete>
	<insert id="updateProductOption" parameterType="list">
		INSERT ALL
		<foreach collection="list" item="item" index="index" separator=" ">
			INTO PRODUCT_OPTION VALUES(
				#{item.p_option}, #{item.p_num}, #{item.p_optionPrice}, #{item.p_stock}
			)
		</foreach>
		SELECT * FROM DUAL
	</insert>
<!-- 썸네일 수정 -->
	<update id="updateThumbnail" parameterType="Product_Image">
		UPDATE PRODUCT_IMAGE SET
			P_CHANGED_NAME = #{p_changed_name},
			P_ORIGIN_NAME = #{p_origin_name}
		WHERE P_NUM = #{p_num}
	</update>
<!-- 상세이미지 수정 -->
	<delete id="deleteDetailImg" parameterType="_int">
		DELETE FROM PRODUCT_IMAGE WHERE P_NUM = #{p_num};
	</delete>
	<insert id="updateDetailImg" parameterType="list">
		INSERT ALL
		<foreach collection="list" item="item" index="index" separator=" ">
			into PRODUCT_IMAGE VALUES(
				#{item.p_changed_name}, #{item.p_origin_name}, SYSDATE, #{item.p_file_level}, #{item.p_num}
			)
		</foreach>
		SELECT * FROM DUAL
	</insert>
<!-- 상품정보 수정 -->

<!-- 상품 삭제 -->
	<update id="deleteProduct" parameterType="_int">
		UPDATE PRODUCT SET
			P_STATUS = 'N',
			P_MODIFY_DATE = SYSDATE
		WHERE P_NUM = ${p_num}
	</update>


<!-- 상품검색 쿼리 -->
	<select id="search-selectProduct" parameterType="map" resultType="hashmap">
		select *
		from psearch_view
		where p_name like '%' || #{search} || '%'
		<if test="subcate != null">
			and p_category = #{subcate}
		</if>
		<if test="price != null">
			<choose>
				<when test='price == "0"'>
					and p_price = 0
				</when>
				<when test='price == "1"'>
					and p_price between 1 and 9999
				</when>
				<when test='price == "2"'>
					and p_price between 10000 and 20000
				</when>
				<when test='price == "3"'>
					and p_price between 20000 and 30000
				</when>
				<when test='price == "4"'>
					and p_price > 30000
				</when>
			</choose>
		</if>
	</select>
	
	<select id="search-getListCount" parameterType="map" resultType="_int">
		select count(*)
    	from psearch_view
    	where p_name like '%' || #{search} || '%'
    	<if test="subcate != null">
        	and p_category = #{subcate}
        </if>
        <if test="price != null">
        	<choose>
        		<when test='price == "0"'>
        			and p_price = 0
        		</when>
        		<when test='price == "1"'>
        			and p_price between 1 and 9999
        		</when>
        		<when test='price == "2"'>
        			and p_price between 10000 and 20000
        		</when>
        		<when test='price == "3"'>
        			and p_price between 20000 and 30000
        		</when>
        		<when test='price == "4"'>
        			and p_price > 30000
        		</when>
        	</choose>
        </if>
	</select>
	
  <!-- 석민 -->
	<select id="selectProductView" parameterType="string" resultType="hashmap">   <!-- 마이페이지 상품 찜목록  -->
		select *
		from PRODUCT_NOPAYVIEW
		where M_ID = #{m_id}
	</select>
	
	
	
	<select id="selectPlistCount" parameterType="string" resultType="_int">
		select count(*)
		from PRODUCT_NOPAYVIEW
		where M_ID = #{m_id}
	</select>
	<!-- 석민 -->
	
	
	<!-- home.jsp에 최신상품 조회 -->
	<select id="selectNewProductList" resultType="hashmap">
		<![CDATA[
		select rownum, pv.*
		from ( select p.* from psearch_view p order by p.p_num desc) pv
        where rownum <= 5]]>
	</select>
</mapper>
