<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybaits.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.runLearn.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.runLearn.member.model.vo.Member_Image" alias="Member_Image"/>
		<typeAlias type="com.kh.runLearn.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.runLearn.board.model.vo.Board_Image" alias="Board_Image"/>
		<typeAlias type="com.kh.runLearn.lecture.model.vo.Lecture" alias="Lecture"/>
		<typeAlias type="com.kh.runLearn.lecture.model.vo.Lecture_Each" alias="Lecture_Each"/>
		<typeAlias type="com.kh.runLearn.lecture.model.vo.Lecture_File" alias="Lecture_File"/>
		<typeAlias type="com.kh.runLearn.lecture.model.vo.Lecture_Image" alias="Lecture_Image"/>
		<typeAlias type="com.kh.runLearn.lecture.model.vo.Wishlist" alias="Wishlist"/>
		<typeAlias type="com.kh.runLearn.payment.model.vo.Lecture_Pay" alias="Lecture_Pay"/>
		<typeAlias type="com.kh.runLearn.payment.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.kh.runLearn.payment.model.vo.Product_Pay" alias="Product_Pay"/>
		<typeAlias type="com.kh.runLearn.product.model.vo.Product" alias="Product"/>
		<typeAlias type="com.kh.runLearn.product.model.vo.Product_Image" alias="Product_Image"/>
		<typeAlias type="com.kh.runLearn.product.model.vo.Product_Option" alias="Product_Option"/>
		<typeAlias type="com.kh.runLearn.product.model.vo.Cart" alias="Cart"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/lecture-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/payment-mapper.xml"/>
		<mapper resource="mappers/product-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/mypage-mapper.xml"/>
	</mappers>
</configuration>
